__pycache__/
*.py[oc]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
build/
dist/
wheels/
.venv/
.env/
*.env
data/
mlruns/
.ipynb_checkpoints/
.jupyter/
*.nbconvert.ipynb
logs/
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
.vscode/
.idea/
*.pid
*.tar
*.lock.json
